html, body {
	background: #eee;
}

body {
	width: 100%;
	overflow-x: hidden;
	padding-bottom: 30px;
}

input, .btn, button, select {
	max-width: 100%;
	min-height: 40px;
	overflow: hidden;
}

.quadro {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 30px 50px rgba(0,0,0,0.1);
	padding: 15px;
	font-size: 13px;
	overflow: auto;
}

.quadro table tr {
	padding: 5px 0;
}
.quadro table tr:nth-child(even) {
	background: #eee;
}

.quadro thead {
	color: #005f55;
	/*font-size: 15px;*/
}

.navbar-default {
	background: #005f55;
	/*color: #fff;*/
	padding: 10px 0;
}

.navbar-default * {
	color: #ccc!important;
}

img {
	max-height: 100%;
	max-width: 100%;
}

.navbar-header a {
	padding: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #fff;
}

.nav.nav-list {}
.nav.nav-list li {}
.nav.nav-list li a {
	/*background: #000;*/
	color: #005f55;
	font-weight: bolder;
}