/* RESET */

html {}
html body {line-height: 1;}
html body p {line-height: 20px;}

* {

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

a, abbr, acronym, address, applet, area, article, aside, audio, b, base, basefont, bdi, bdo, big, blockquote, body, br, button, canvas, caption, center, cite, code, col, colgroup, command, datalist, dd, del, details, dfn, dialog, dir, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, frame, frameset, h1, h2, h3, h4, h5, h6, head, header, hgroup, hr, html, i, iframe, img, input, ins, kbd, keygen, label, legend, li, link, main, map, mark, menu, meta, meter, nav, noframes, noscript, object, ol, optgroup, option, output, p, param, pre, progress, q, rp, rt, ruby, s, samp, script, section, select, small, source, span, strike, strong, style, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, title, tr, track, tt, u, ul, var, video, wbr {margin: 0; padding: 0; border: none;}

a {

	-webkit-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	   -moz-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	     -o-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	        transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

	-webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	        transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

}

b, strong {font-weight: bold;}
i, em {font-style: italic;}
img {max-width: 100%; height: auto;}
form * {outline: none;}

span, small, em {
	font-weight: inherit;
}

footer a {text-decoration: none;}

::selection {color:#fff; background:rgba(0,0,0,0.5);}
::-moz-selection {color:#fff; background:rgba(0,0,0,0.5);}

/* títulos */

h1, h2, h3, h4, h5, h6 {font-weight: normal;}

h1 {font-size: 48px;}
h2 {font-size: 36px;}
h3 {font-size: 30px;}
h4 {font-size: 24px;}
h5 {font-size: 18px;}
h6 {font-size: 14px;}

/* listas */

nav ul {list-style-type: none;}
nav ul li a {text-decoration: none;}
.txt ul {padding: 0 0 0 30px; list-style: disc;}
.txt ul li {}
.txt ol {padding: 0 0 0 30px; list-style: decimal;}
.txt ol li {}
footer ul {list-style: none;}

/* formulários */

form {}
form * {}
form fieldset {}
form fieldset label {}

form select {}
form select optgroup {}
form select option {}

form input[type="text"] {}
form input[type="radio"] {}
form input[type="checkbox"] {}
form input[type="email"] {}
form input[type="text"], form input[type="email"], form textarea {padding: 10px 15px; overflow: hidden;}

form input[type="text"].erro, form input[type="email"].erro, form textarea.erro {

	border-color: #ba1523!important;

}

form input[type="submit"] {cursor: pointer;}
form input[type="submit"]:hover {

/*	-webkit-opacity:0.8;
	-moz-opacity:0.8;
	-o-opacity:0.8;
	-ms-opacity:0.8;
	opacity:0.8;*/
}
form input[type="submit"]:disabled {
	background: #666!important;
}

form textarea {
    resize: none;
    box-sizing: border-box;
    padding: 10px 15px;
}
button {}
button, input[type="submit"] {
	cursor: pointer;
}

/* CLASSES */

/*correções de bugs*/

.colapse {padding-top: 1px;}

/* display */

.block {display: block;}
.inline-block {display: inline-block;}
.inline {display: inline;}
.hidden {display: none; visibility: hidden; opacity: 0;}
.flex {display: flex;}

/* largura */

.largura-110 {width:110%;}
.largura-100 {width: 100%;}
.largura-50 {width: 50%;}
.largura-47 {width: 47%;}
.largura-45 {width: 45%;}
.largura-43 {width: 43%;}
.largura-33 {width: 33.33%;}
.largura-25 {width: 25%;}

.largura-10 {width: 10%;}
.largura-15 {width: 15%;}
.largura-20 {width: 20%;}
.largura-25 {width: 25%;}
.largura-30 {width: 30%;}
.largura-35 {width: 35%;}
.largura-40 {width: 40%;}
.largura-45 {width: 45%;}
.largura-50 {width: 50%;}
.largura-55 {width: 55%;}
.largura-60 {width: 60%;}
.largura-65 {width: 65%;}
.largura-70 {width: 70%;}
.largura-75 {width: 75%;}
.largura-80 {width: 80%;}
.largura-85 {width: 85%;}
.largura-90 {width: 90%;}
.largura-95 {width: 95%;}

.largura-10-px {width: 10px; max-width: 100%;}
.largura-20-px {width: 20px; max-width: 100%;}
.largura-30-px {width: 30px; max-width: 100%;}
.largura-40-px {width: 40px; max-width: 100%;}
.largura-50-px {width: 50px; max-width: 100%;}
.largura-60-px {width: 60px; max-width: 100%;}
.largura-70-px {width: 70px; max-width: 100%;}
.largura-80-px {width: 80px; max-width: 100%;}
.largura-90-px {width: 90px; max-width: 100%;}
.largura-100-px {width: 100px; max-width: 100%;}
.largura-150-px {width: 150px; max-width: 100%;}
.largura-200-px {width: 200px; max-width: 100%;}
.largura-250-px {width: 250px; max-width: 100%;}
.largura-300-px {width: 300px; max-width: 100%;}
.largura-350-px {width: 350px; max-width: 100%;}
.largura-400-px {width: 400px; max-width: 100%;}
.largura-450-px {width: 450px; max-width: 100%;}
.largura-500-px {width: 500px; max-width: 100%;}
.largura-550-px {width: 550px; max-width: 100%;}
.largura-600-px {width: 600px; max-width: 100%;}
.largura-650-px {width: 650px; max-width: 100%;}
.largura-700-px {width: 700px; max-width: 100%;}
.largura-750-px {width: 750px; max-width: 100%;}
.largura-800-px {width: 800px; max-width: 100%;}
.largura-850-px {width: 850px; max-width: 100%;}
.largura-900-px {width: 900px; max-width: 100%;}
.largura-950-px {width: 950px; max-width: 100%;}

/* altura */

.altura-110 {height:110%;}
.altura-100 {height: 100%;}
.altura-50 {height: 50%;}
.altura-33 {height: 33.33%;}
.altura-25 {height: 25%;}

.altura-10 {height: 10%;}
.altura-15 {height: 15%;}
.altura-20 {height: 20%;}
.altura-25 {height: 25%;}
.altura-30 {height: 30%;}
.altura-35 {height: 35%;}
.altura-40 {height: 40%;}
.altura-45 {height: 45%;}
.altura-50 {height: 50%;}
.altura-55 {height: 55%;}
.altura-60 {height: 60%;}
.altura-65 {height: 65%;}
.altura-70 {height: 70%;}
.altura-75 {height: 75%;}
.altura-80 {height: 80%;}
.altura-85 {height: 85%;}
.altura-90 {height: 90%;}
.altura-95 {height: 95%;}

.altura-10-px {height: 10px; max-height: 100%;}
.altura-20-px {height: 20px; max-height: 100%;}
.altura-30-px {height: 30px; max-height: 100%;}
.altura-40-px {height: 40px; max-height: 100%;}
.altura-50-px {height: 50px; max-height: 100%;}
.altura-60-px {height: 60px; max-height: 100%;}
.altura-70-px {height: 70px; max-height: 100%;}
.altura-80-px {height: 80px; max-height: 100%;}
.altura-90-px {height: 90px; max-height: 100%;}
.altura-100-px {height: 100px; max-height: 100%;}
.altura-150-px {height: 150px; max-height: 100%;}
.altura-200-px {height: 200px; max-height: 100%;}
.altura-250-px {height: 250px; max-height: 100%;}
.altura-300-px {height: 300px; max-height: 100%;}
.altura-350-px {height: 350px; max-height: 100%;}
.altura-400-px {height: 400px; max-height: 100%;}
.altura-450-px {height: 450px; max-height: 100%;}
.altura-500-px {height: 500px; max-height: 100%;}
.altura-550-px {height: 550px; max-height: 100%;}
.altura-600-px {height: 600px; max-height: 100%;}
.altura-650-px {height: 650px; max-height: 100%;}
.altura-700-px {height: 700px; max-height: 100%;}
.altura-750-px {height: 750px; max-height: 100%;}
.altura-800-px {height: 800px; max-height: 100%;}
.altura-850-px {height: 850px; max-height: 100%;}
.altura-900-px {height: 900px; max-height: 100%;}
.altura-950-px {height: 950px; max-height: 100%;}

/* float */

.left {float: left;}
.right {float: right;}

.left-important {float: left!important;}
.right-important {float: right!important;}

/* clear */

.clear {clear: both;}
.clear-left {clear: left;}
.clear-right {clear: right;}

/* center */

.center {margin: 0 auto;}
.centralizador {display: table; margin:0 auto;}
.v-align {display: table-cell; vertical-align: middle;}
.align-c {text-align: center}
.align-l {text-align: left}
.align-r {text-align: right}
.margin-a {margin: auto;}

/* overflow */

.overflow, .overflow-h  {overflow: hidden;}
.overflow-v {overflow: visible;}
.overflow-a {overflow: auto;}
.overflow-s {overflow: scroll;}

/* positions */

.absolute {position: absolute;}
.static {position: static;}
.fixed {position: fixed;}
.relative {position: relative;}

.left0 {left: 0;}
.right0 {right: 0;}
.top0 {top: 0;}
.bottom0 {bottom: 0;}

/* padding */

.padding-5 {padding: 5px;}
.padding-10 {padding: 10px;}
.padding-15 {padding: 15px;}
.padding-20 {padding: 20px;}
.padding-25 {padding: 25px;}
.padding-30 {padding: 30px;}
.padding-35 {padding: 35px;}
.padding-40 {padding: 40px;}
.padding-45 {padding: 45px;}
.padding-50 {padding: 50px;}
.padding-55 {padding: 55px;}
.padding-60 {padding: 60px;}
.padding-65 {padding: 65px;}
.padding-70 {padding: 70px;}
.padding-75 {padding: 75px;}
.padding-80 {padding: 80px;}
.padding-85 {padding: 85px;}
.padding-90 {padding: 90px;}
.padding-95 {padding: 95px;}

.padding-100 {padding: 100px;}
.padding-200 {padding: 200px;}
.padding-300 {padding: 300px;}
.padding-400 {padding: 400px;}
.padding-500 {padding: 500px;}
.padding-600 {padding: 600px;}
.padding-700 {padding: 700px;}
.padding-800 {padding: 800px;}
.padding-900 {padding: 900px;}
.padding-1000 {padding: 1000px;}

.padding-ver-5 {padding: 5px 0;}
.padding-ver-10 {padding: 10px 0;}
.padding-ver-15 {padding: 15px 0;}
.padding-ver-20 {padding: 20px 0;}
.padding-ver-25 {padding: 25px 0;}
.padding-ver-30 {padding: 30px 0;}
.padding-ver-35 {padding: 35px 0;}
.padding-ver-40 {padding: 40px 0;}
.padding-ver-45 {padding: 45px 0;}
.padding-ver-50 {padding: 50px 0;}
.padding-ver-55 {padding: 55px 0;}
.padding-ver-60 {padding: 60px 0;}
.padding-ver-65 {padding: 65px 0;}
.padding-ver-70 {padding: 70px 0;}
.padding-ver-75 {padding: 75px 0;}
.padding-ver-80 {padding: 80px 0;}
.padding-ver-85 {padding: 85px 0;}
.padding-ver-90 {padding: 90px 0;}
.padding-ver-95 {padding: 95px 0;}

.padding-hor-5 {padding: 0 5px;}
.padding-hor-10 {padding: 0 10px;}
.padding-hor-15 {padding: 0 15px;}
.padding-hor-20 {padding: 0 20px;}
.padding-hor-25 {padding: 0 25px;}
.padding-hor-30 {padding: 0 30px;}
.padding-hor-35 {padding: 0 35px;}
.padding-hor-40 {padding: 0 40px;}
.padding-hor-45 {padding: 0 45px;}
.padding-hor-50 {padding: 0 50px;}
.padding-hor-55 {padding: 0 55px;}
.padding-hor-60 {padding: 0 60px;}
.padding-hor-65 {padding: 0 65px;}
.padding-hor-70 {padding: 0 70px;}
.padding-hor-75 {padding: 0 75px;}
.padding-hor-80 {padding: 0 80px;}
.padding-hor-85 {padding: 0 85px;}
.padding-hor-90 {padding: 0 90px;}
.padding-hor-95 {padding: 0 95px;}

/* margin */

.margin-5 {margin: 5px;}
.margin-10 {margin: 10px;}
.margin-15 {margin: 15px;}
.margin-20 {margin: 20px;}
.margin-25 {margin: 25px;}
.margin-30 {margin: 30px;}
.margin-35 {margin: 35px;}
.margin-40 {margin: 40px;}
.margin-45 {margin: 45px;}
.margin-50 {margin: 50px;}
.margin-55 {margin: 55px;}
.margin-60 {margin: 60px;}
.margin-65 {margin: 65px;}
.margin-70 {margin: 70px;}
.margin-75 {margin: 75px;}
.margin-80 {margin: 80px;}
.margin-85 {margin: 85px;}
.margin-90 {margin: 90px;}
.margin-95 {margin: 95px;}

.margin-100 {margin: 100px;}
.margin-200 {margin: 200px;}
.margin-300 {margin: 300px;}
.margin-400 {margin: 400px;}
.margin-500 {margin: 500px;}
.margin-600 {margin: 600px;}
.margin-700 {margin: 700px;}
.margin-800 {margin: 800px;}
.margin-900 {margin: 900px;}
.margin-1000 {margin: 1000px;}

.margin-ver-5 {margin: 5px auto;}
.margin-ver-10 {margin: 10px auto;}
.margin-ver-15 {margin: 15px auto;}
.margin-ver-20 {margin: 20px auto;}
.margin-ver-25 {margin: 25px auto;}
.margin-ver-30 {margin: 30px auto;}
.margin-ver-35 {margin: 35px auto;}
.margin-ver-40 {margin: 40px auto;}
.margin-ver-45 {margin: 45px auto;}
.margin-ver-50 {margin: 50px auto;}
.margin-ver-55 {margin: 55px auto;}
.margin-ver-60 {margin: 60px auto;}
.margin-ver-65 {margin: 65px auto;}
.margin-ver-70 {margin: 70px auto;}
.margin-ver-75 {margin: 75px auto;}
.margin-ver-80 {margin: 80px auto;}
.margin-ver-85 {margin: 85px auto;}
.margin-ver-90 {margin: 90px auto;}
.margin-ver-95 {margin: 95px auto;}

.margin-hor-5 {margin: auto 5px;}
.margin-hor-10 {margin: auto 10px;}
.margin-hor-15 {margin: auto 15px;}
.margin-hor-20 {margin: auto 20px;}
.margin-hor-25 {margin: auto 25px;}
.margin-hor-30 {margin: auto 30px;}
.margin-hor-35 {margin: auto 35px;}
.margin-hor-40 {margin: auto 40px;}
.margin-hor-45 {margin: auto 45px;}
.margin-hor-50 {margin: auto 50px;}
.margin-hor-55 {margin: auto 55px;}
.margin-hor-60 {margin: auto 60px;}
.margin-hor-65 {margin: auto 65px;}
.margin-hor-70 {margin: auto 70px;}
.margin-hor-75 {margin: auto 75px;}
.margin-hor-80 {margin: auto 80px;}
.margin-hor-85 {margin: auto 85px;}
.margin-hor-90 {margin: auto 90px;}
.margin-hor-95 {margin: auto 95px;}

/* border-radius */

.br-1 {

	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	-o-border-radius:1px;
	-ms-border-radius:1px;
	border-radius:1px;
	

}
.br-2 {

	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	border-radius:2px;
	

}
.br-3 {

	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
	

}
.br-4 {

	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	

}
.br-5 {

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	

}
.br-6 {

	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	border-radius:6px;
	

}
.br-7 {

	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	-ms-border-radius:7px;
	border-radius:7px;
	

}
.br-8 {

	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	-ms-border-radius:8px;
	border-radius:8px;
	

}
.br-9 {

	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	-o-border-radius:9px;
	-ms-border-radius:9px;
	border-radius:9px;
	

}
.br-10 {

	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	border-radius:10px;
	

}
.br-15 {

	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-o-border-radius:15px;
	-ms-border-radius:15px;
	border-radius:15px;
	

}
.br-20 {

	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	

}
.br-25 {

	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	-ms-border-radius:25px;
	border-radius:25px;
	

}
.br-30 {

	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-o-border-radius:30px;
	-ms-border-radius:30px;
	border-radius:30px;
	

}
.br-35 {

	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	-o-border-radius:35px;
	-ms-border-radius:35px;
	border-radius:35px;
	

}
.br-40 {

	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	-o-border-radius:40px;
	-ms-border-radius:40px;
	border-radius:40px;
	

}
.br-45 {

	-webkit-border-radius:45px;
	-moz-border-radius:45px;
	-o-border-radius:45px;
	-ms-border-radius:45px;
	border-radius:45px;
	

}
.br-50 {

	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	-o-border-radius:50px;
	-ms-border-radius:50px;
	border-radius:50px;
	

}
.br-55 {

	-webkit-border-radius:55px;
	-moz-border-radius:55px;
	-o-border-radius:55px;
	-ms-border-radius:55px;
	border-radius:55px;
	

}
.br-60 {

	-webkit-border-radius:60px;
	-moz-border-radius:60px;
	-o-border-radius:60px;
	-ms-border-radius:60px;
	border-radius:60px;
	

}
.br-65 {

	-webkit-border-radius:65px;
	-moz-border-radius:65px;
	-o-border-radius:65px;
	-ms-border-radius:65px;
	border-radius:65px;
	

}
.br-70 {

	-webkit-border-radius:70px;
	-moz-border-radius:70px;
	-o-border-radius:70px;
	-ms-border-radius:70px;
	border-radius:70px;
	

}
.br-75 {

	-webkit-border-radius:75px;
	-moz-border-radius:75px;
	-o-border-radius:75px;
	-ms-border-radius:75px;
	border-radius:75px;
	

}
.br-80 {

	-webkit-border-radius:80px;
	-moz-border-radius:80px;
	-o-border-radius:80px;
	-ms-border-radius:80px;
	border-radius:80px;
	

}
.br-85 {

	-webkit-border-radius:85px;
	-moz-border-radius:85px;
	-o-border-radius:85px;
	-ms-border-radius:85px;
	border-radius:85px;
	

}
.br-90 {

	-webkit-border-radius:90px;
	-moz-border-radius:90px;
	-o-border-radius:90px;
	-ms-border-radius:90px;
	border-radius:90px;
	

}
.br-95 {

	-webkit-border-radius:95px;
	-moz-border-radius:95px;
	-o-border-radius:95px;
	-ms-border-radius:95px;
	border-radius:95px;
	

}
.br-100 {

	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	-ms-border-radius:100px;
	border-radius:100px;
	

}

.br-100-porcento {

	-webkit-border-radius:99999px;
	-moz-border-radius:99999px;
	-o-border-radius:99999px;
	-ms-border-radius:99999px;
	border-radius:99999px;
	

}

/*alertas*/

.alerta {
	z-index: 1000;
	justify-content: space-between;
}
.alerta i, .alerta svg {
	font-size: 25px;
	margin: auto 0;
	cursor: pointer;
}
.alerta.red {
	background: #e44c4c;
	color: #fff;
}
.alerta.yellow {
	background: #e0e03b;
	color: #333;
}
.alerta.green {
	background: #9fc50d;
	color: #fff;
}
.alerta.blue {
	background: #3388e2;
	color: #fff;
}
.alerta.black {
	background: black;
	color: #fff; 
}
.alerta.white {
	background: white;
	color: #333;
}
.alerta.grey {
	background: grey;
	color: #fff; 
}
.alerta.orange {
	background: orange;
	color: #fff; 
}
.alerta.pink {
	background: #ef415f;
	color: #333;
}
.alerta.purple {
	background: #a94ca9;
	color: #fff;
}

/* box-shadow */

.shadow-1 {

	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.1);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.1);
	-o-box-shadow:0 0 10px rgba(0,0,0,0.1);
	-ms-box-shadow:0 0 10px rgba(0,0,0,0.1);
	box-shadow:0 0 10px rgba(0,0,0,0.1);
	

}
.shadow-2 {

	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 10px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 10px rgba(0,0,0,0.2);
	box-shadow:0 0 10px rgba(0,0,0,0.2);
	

}
.shadow-3 {

	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.3);
	-o-box-shadow:0 0 10px rgba(0,0,0,0.3);
	-ms-box-shadow:0 0 10px rgba(0,0,0,0.3);
	box-shadow:0 0 10px rgba(0,0,0,0.3);
	

}
.shadow-4 {

	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.4);
	-o-box-shadow:0 0 10px rgba(0,0,0,0.4);
	-ms-box-shadow:0 0 10px rgba(0,0,0,0.4);
	box-shadow:0 0 10px rgba(0,0,0,0.4);
	

}
.shadow-5 {

	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
	-o-box-shadow:0 0 10px rgba(0,0,0,0.5);
	-ms-box-shadow:0 0 10px rgba(0,0,0,0.5);
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	

}
.shadow-solid-1 {

	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.1);
	-moz-box-shadow:0 1px 0 rgba(0,0,0,0.1);
	-o-box-shadow:0 1px 0 rgba(0,0,0,0.1);
	-ms-box-shadow:0 1px 0 rgba(0,0,0,0.1);
	box-shadow:0 1px 0 rgba(0,0,0,0.1);
	

}
.shadow-solid-2 {

	-webkit-box-shadow:0 2px 0 rgba(0,0,0,0.1);
	-moz-box-shadow:0 2px 0 rgba(0,0,0,0.1);
	-o-box-shadow:0 2px 0 rgba(0,0,0,0.1);
	-ms-box-shadow:0 2px 0 rgba(0,0,0,0.1);
	box-shadow:0 2px 0 rgba(0,0,0,0.1);
	

}
.shadow-solid-3 {

	-webkit-box-shadow:0 3px 0 rgba(0,0,0,0.1);
	-moz-box-shadow:0 3px 0 rgba(0,0,0,0.1);
	-o-box-shadow:0 3px 0 rgba(0,0,0,0.1);
	-ms-box-shadow:0 3px 0 rgba(0,0,0,0.1);
	box-shadow:0 3px 0 rgba(0,0,0,0.1);
	

}
.shadow-solid-4 {

	-webkit-box-shadow:0 4px 0 rgba(0,0,0,0.1);
	-moz-box-shadow:0 4px 0 rgba(0,0,0,0.1);
	-o-box-shadow:0 4px 0 rgba(0,0,0,0.1);
	-ms-box-shadow:0 4px 0 rgba(0,0,0,0.1);
	box-shadow:0 4px 0 rgba(0,0,0,0.1);
	

}
.shadow-solid-5 {

	-webkit-box-shadow:0 5px 0 rgba(0,0,0,0.1);
	-moz-box-shadow:0 5px 0 rgba(0,0,0,0.1);
	-o-box-shadow:0 5px 0 rgba(0,0,0,0.1);
	-ms-box-shadow:0 5px 0 rgba(0,0,0,0.1);
	box-shadow:0 5px 0 rgba(0,0,0,0.1);
	

}
.shadow-solid-6 {

	-webkit-box-shadow:0 6px 0 rgba(0,0,0,0.1);
	-moz-box-shadow:0 6px 0 rgba(0,0,0,0.1);
	-o-box-shadow:0 6px 0 rgba(0,0,0,0.1);
	-ms-box-shadow:0 6px 0 rgba(0,0,0,0.1);
	box-shadow:0 6px 0 rgba(0,0,0,0.1);
	

}
.shadow-solid-7 {

	-webkit-box-shadow:0 7px 0 rgba(0,0,0,0.1);
	-moz-box-shadow:0 7px 0 rgba(0,0,0,0.1);
	-o-box-shadow:0 7px 0 rgba(0,0,0,0.1);
	-ms-box-shadow:0 7px 0 rgba(0,0,0,0.1);
	box-shadow:0 7px 0 rgba(0,0,0,0.1);
	

}
.shadow-solid-8 {

	-webkit-box-shadow:0 8px 0 rgba(0,0,0,0.1);
	-moz-box-shadow:0 8px 0 rgba(0,0,0,0.1);
	-o-box-shadow:0 8px 0 rgba(0,0,0,0.1);
	-ms-box-shadow:0 8px 0 rgba(0,0,0,0.1);
	box-shadow:0 8px 0 rgba(0,0,0,0.1);
	

}
.shadow-solid-9 {

	-webkit-box-shadow:0 9px 0 rgba(0,0,0,0.1);
	-moz-box-shadow:0 9px 0 rgba(0,0,0,0.1);
	-o-box-shadow:0 9px 0 rgba(0,0,0,0.1);
	-ms-box-shadow:0 9px 0 rgba(0,0,0,0.1);
	box-shadow:0 9px 0 rgba(0,0,0,0.1);
	

}
.shadow-solid-10 {

	-webkit-box-shadow:0 10px 0 rgba(0,0,0,0.1);
	-moz-box-shadow:0 10px 0 rgba(0,0,0,0.1);
	-o-box-shadow:0 10px 0 rgba(0,0,0,0.1);
	-ms-box-shadow:0 10px 0 rgba(0,0,0,0.1);
	box-shadow:0 10px 0 rgba(0,0,0,0.1);
	

}
.shadow-inset-solid-1 {

	-webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	-ms-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	

}
.shadow-inset-solid-2 {

	-webkit-box-shadow:inset 0 0 0 2px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 0 0 2px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 0 0 2px rgba(0,0,0,0.1);
	-ms-box-shadow:inset 0 0 0 2px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 0 2px rgba(0,0,0,0.1);
	

}
.shadow-inset-solid-3 {

	-webkit-box-shadow:inset 0 0 0 3px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 0 0 3px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 0 0 3px rgba(0,0,0,0.1);
	-ms-box-shadow:inset 0 0 0 3px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 0 3px rgba(0,0,0,0.1);
	

}
.shadow-inset-solid-4 {

	-webkit-box-shadow:inset 0 0 0 4px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 0 0 4px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 0 0 4px rgba(0,0,0,0.1);
	-ms-box-shadow:inset 0 0 0 4px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 0 4px rgba(0,0,0,0.1);
	

}
.shadow-inset-solid-5 {

	-webkit-box-shadow:inset 0 0 0 5px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 0 0 5px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 0 0 5px rgba(0,0,0,0.1);
	-ms-box-shadow:inset 0 0 0 5px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 0 5px rgba(0,0,0,0.1);
	

}
.shadow-inset-solid-6 {

	-webkit-box-shadow:inset 0 0 0 6px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 0 0 6px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 0 0 60px rgba(0,0,0,0.1);
	-ms-box-shadow:inset 0 0 0 6px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 0 6px rgba(0,0,0,0.1);
	

}
.shadow-inset-solid-7 {

	-webkit-box-shadow:inset 0 0 0 7px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 0 0 7px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 0 0 7px rgba(0,0,0,0.1);
	-ms-box-shadow:inset 0 0 0 7px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 0 7px rgba(0,0,0,0.1);
	

}
.shadow-inset-solid-8 {

	-webkit-box-shadow:inset 0 0 0 8px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 0 0 8px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 0 0 8px rgba(0,0,0,0.1);
	-ms-box-shadow:inset 0 0 0 8px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 0 8px rgba(0,0,0,0.1);
	

}
.shadow-inset-solid-9 {

	-webkit-box-shadow:inset 0 0 0 9px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 0 0 9px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 0 0 9px rgba(0,0,0,0.1);
	-ms-box-shadow:inset 0 0 0 9px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 0 9px rgba(0,0,0,0.1);
	

}
.shadow-inset-solid-10 {

	-webkit-box-shadow:inset 0 0 0 10px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 0 0 10px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 0 0 10px rgba(0,0,0,0.1);
	-ms-box-shadow:inset 0 0 0 10px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 0 10px rgba(0,0,0,0.1);
	

}

/* easing */

.easing {

	-webkit-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	   -moz-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	     -o-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	        transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

	-webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	        transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

}

.easing2 {
	-webkit-transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	   -moz-transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	     -o-transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	        transition: all 600ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

	-webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	        transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */	
}

/* opacity */

.opacity-1 {

	-webkit-opacity:0.1;
	-moz-opacity:0.1;
	-o-opacity:0.1;
	-ms-opacity:0.1;
	opacity:0.1;

}
.opacity-2 {

	-webkit-opacity:0.2;
	-moz-opacity:0.2;
	-o-opacity:0.2;
	-ms-opacity:0.2;
	opacity:0.2;

}
.opacity-3 {

	-webkit-opacity:0.3;
	-moz-opacity:0.3;
	-o-opacity:0.3;
	-ms-opacity:0.3;
	opacity:0.3;

}
.opacity-4 {

	-webkit-opacity:0.4;
	-moz-opacity:0.4;
	-o-opacity:0.4;
	-ms-opacity:0.4;
	opacity:0.4;

}
.opacity-5 {

	-webkit-opacity:0.5;
	-moz-opacity:0.5;
	-o-opacity:0.5;
	-ms-opacity:0.5;
	opacity:0.5;

}
.opacity-6 {

	-webkit-opacity:0.6;
	-moz-opacity:0.6;
	-o-opacity:0.6;
	-ms-opacity:0.6;
	opacity:0.6;

}
.opacity-7, .opacity-hover:hover {

	-webkit-opacity:0.7;
	-moz-opacity:0.7;
	-o-opacity:0.7;
	-ms-opacity:0.7;
	opacity:0.7;

}
.opacity-8 {

	-webkit-opacity:0.8;
	-moz-opacity:0.8;
	-o-opacity:0.8;
	-ms-opacity:0.8;
	opacity:0.8;
}
.opacity-9 {

	-webkit-opacity:0.9;
	-moz-opacity:0.9;
	-o-opacity:0.9;
	-ms-opacity:0.9;
	opacity:0.9;

}
.opacity-10 {

	-webkit-opacity:1;
	-moz-opacity:1;
	-o-opacity:1;
	-ms-opacity:1;
	opacity:1;

}

.antialiased {

	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;

}

.tablet-div-10 {}
.tablet-div-9 {}
.tablet-div-8 {}
.tablet-div-7 {}
.tablet-div-6 {}
.tablet-div-5 {}
.tablet-div-4 {}
.tablet-div-3 {}
.tablet-div-2 {}
.tablet-div-1 {}

.tablet-padding-100 {}
.tablet-padding-90 {}
.tablet-padding-80 {}
.tablet-padding-70 {}
.tablet-padding-60 {}
.tablet-padding-50 {}
.tablet-padding-40 {}
.tablet-padding-30 {}
.tablet-padding-20 {}
.tablet-padding-10 {}

.mobile-div-10 {}
.mobile-div-9 {}
.mobile-div-8 {}
.mobile-div-7 {}
.mobile-div-6 {}
.mobile-div-5 {}
.mobile-div-4 {}
.mobile-div-3 {}
.mobile-div-2 {}
.mobile-div-1 {}

.mobile-padding-100 {}
.mobile-padding-90 {}
.mobile-padding-80 {}
.mobile-padding-70 {}
.mobile-padding-60 {}
.mobile-padding-50 {}
.mobile-padding-40 {}
.mobile-padding-30 {}
.mobile-padding-20 {}
.mobile-padding-10 {}


/*responsivo*/

@media all and (max-width: 900px){

  .tablet-div-10 {width: 10%; }
  .tablet-div-9 {width: 11.1%; }
  .tablet-div-8 {width: 12.5%; }
  .tablet-div-7 {width: 14.28%; }
  .tablet-div-6 {width: 16.6%; }
  .tablet-div-5 {width: 20%; }
  .tablet-div-4 {width: 25%; }
  .tablet-div-3 {width: 33.33%; }
  .tablet-div-2 {width: 50%; }
  .tablet-div-1 {width: 100%; }  

  .tablet-padding-100 {padding: 100px;}
  .tablet-padding-90 {padding: 90px;}
  .tablet-padding-80 {padding: 80px;}
  .tablet-padding-70 {padding: 70px;}
  .tablet-padding-60 {padding: 60px;}
  .tablet-padding-50 {padding: 50px;}
  .tablet-padding-40 {padding: 40px;}
  .tablet-padding-30 {padding: 30px;}
  .tablet-padding-20 {padding: 20px;}
  .tablet-padding-10 {padding: 10px;}  
  .tablet-padding-0 {padding: 0px;}
}
@media all and (max-width: 550px){

  .some-mobile {
    display: none;
  }

  .mobile-div-10 {width: 10%; }
  .mobile-div-9 {width: 11.1%; }
  .mobile-div-8 {width: 12.5%; }
  .mobile-div-7 {width: 14.28%; }
  .mobile-div-6 {width: 16.6%; }
  .mobile-div-5 {width: 20%; }
  .mobile-div-4 {width: 25%; }
  .mobile-div-3 {width: 33.33%; }
  .mobile-div-2 {width: 50%; }
  .mobile-div-1 {width: 100%; }  

  .mobile-padding-100 {padding: 100px;}
  .mobile-padding-90 {padding: 90px;}
  .mobile-padding-80 {padding: 80px;}
  .mobile-padding-70 {padding: 70px;}
  .mobile-padding-60 {padding: 60px;}
  .mobile-padding-50 {padding: 50px;}
  .mobile-padding-40 {padding: 40px;}
  .mobile-padding-30 {padding: 30px;}
  .mobile-padding-20 {padding: 20px;}
  .mobile-padding-10 {padding: 10px;}    
  .mobile-padding-0 {padding: 0px!important;}    
}