/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Lato', sans-serif;
    background: url(../img/bgRed.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
}
body a {
    color: inherit;
}
hr {
    border-color: rgba(0,0,0,0.4);
}
.central {
    width: 800px;
    margin: 0 auto;
    max-width: 100%;
}
header {
    padding: 30px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    overflow: hidden;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.1);
}
header nav {
    margin: 10px 0;
}
header nav ul {

}
header nav ul li {
    float: left;
    margin: 0 0 0 15px;
}
header nav ul li a {
    color: #fff;
    border-bottom: solid 5px rgba(0,0,0,0.1);
    padding: 0 0 5px 0;
    display: block;
}
header nav ul li a:hover {
    border-color: #fff;
}
header p {
    margin: 15px 0;
    font-weight: bolder;
}
section {
    min-height: 100vh;
    padding: 40px 0;
    /*background: #fff;*/
}
section > div h3 {
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: bolder;
}
section > div p {
    font-size: 20px;
    line-height: 1.3;
}
section .bloco {
    background: #fff;
    padding: 50px;
    color: #333;
    box-shadow: 0 50px 100px rgba(0,0,0,0.1);
}
section .bloco .slide {
    display: none;
}
section .bloco .slide:first-child {
    display: block;
}
.logo img {
    margin: 0 0 5px 0;
}
.social {

}
.social ul {
    list-style-type: none;
}
.social ul li {
    float: left;
}
.social ul li a {
    display: block;
    color: #fff;
}
.social ul li a svg {

}

.botoes {

}
.botoes .botao {
    background: #e1c900;
    color: #444;
}
.botoes .botao[disabled='disabled'] {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.voucher {
    /*background: url(../img/bgpaper.png) center;*/
    background: #e1c900;
    overflow: hidden;
    border-radius: 20px;
    height: 200px;
    /*box-shadow: 0 20px 100px rgba(0,0,0,0.2);*/
    margin: 50px 0;
    padding: 15px;
}
.voucher > div {
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: dashed 2px #333;
    display: flex;
}
.voucher > div.right {
    border-radius: 0 20px 20px 0;
    background: rgba(0,0,0,0.1);
    border-left: none;
    text-align: center;
    font-size: 20px;
    /*color: #fff;*/
}
.voucher > div.right .auto {
    padding: 10px;
/*    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);*/
}
.voucher > div.right .auto small {
    /*font-weight: bolder;*/
}
.voucher .helperLinha {
    margin: auto;
}
.voucher span {
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 0 0 10px 0;
}
.voucher h4 {
    font-weight: bolder;
    font-size: 40px;
}
.voucher:before, .voucher:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 100px;
    position: absolute;
    left: -10px;
    top: calc(50% - 10px);
}
.voucher:after {
    left: auto;
    right: -10px;
}

.fone1 {
    bottom: 0;
    left: 10px;
}
.fone2 {
    top: 100px;
    right: 100px;
/*    -webkit-animation: movimento 10s infinite;
    -moz-animation: movimento 10s infinite;
    -ms-animation: movimento 10s infinite;
    -o-animation: movimento 10s infinite;
    animation: movimento 10s infinite;    */    
}
.fone1, .fone2 {
    pointer-events: none;
}

.form {

}
.form input[type="text"], .form input[type="tel"], .form input[type="email"], .form input[type="number"], .form input[type="password"], .form select {
    display: block;
    padding: 10px;
    background: #eee;
    border: solid 1px #ddd;
    width: 100%;
    /*min-height: 40px;*/
    /*height: 40px;*/
    border-radius: 5px;
    margin: 10px 0;
}
.form input[type="submit"] {
    background: #e1c900;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
}
.form select {
    height: 45px;
}
/*.form label {
    border-radius: 5px;
} 
.form label:hover {
    background-color: #eee;
}*/
.form fieldset {
    border-top: solid 1px #ddd;
    padding: 30px 5px 0 5px;
}
.form fieldset.erro {
    background: #fdd;
}

.overlay {
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.65);
     display: none; 
}
.overlay .quadro {
    width: 800px;
    max-width: calc(100% - 20px);
    /*height: 90vh;*/
    margin: auto;
    background: #fff;
    color: #333;
    padding: 30px;
    border-radius: 10px;
}
.overlay .quadro .conteudo > * {
    margin-bottom: 10px;
}
.overlay .quadro .conteudo h1,
.overlay .quadro .conteudo h2,
.overlay .quadro .conteudo h3,
.overlay .quadro .conteudo h4,
.overlay .quadro .conteudo h5,
.overlay .quadro .conteudo h6 {
    font-weight: bolder;
}
.overlay .quadro .fechar {
    width: 30px;
    height: 30px;
    background: red;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 27px;
    border-radius: 100px;
    top: -10px;
    right: -10px;
    position: absolute;
}
.overlay .quadro .conteudo {

}
.overlay .quadro .conteudo h3 {

}
.overlay .quadro .conteudo p {

}
.alerta {
    background: #e1c900;
}
.btn {
    background: #ddd;
    font-weight: bolder;
}

@keyframes movimento {
    0% {
        -webkit-transform: rotate(7deg);
        -moz-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
        -o-transform: rotate(7deg);
        transform: rotate(7deg);
    }

    50% {
        -webkit-transform: rotate(-7deg);
        -moz-transform: rotate(-7deg);
        -ms-transform: rotate(-7deg);
        -o-transform: rotate(-7deg);
        transform: rotate(-7deg);
    }

    100% {
        -webkit-transform: rotate(7deg);
        -moz-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
        -o-transform: rotate(7deg);
        transform: rotate(7deg);
    }

    0% {
        top:30%;
    }
    25% {
        top:33%;
    }
    50% {
        top:27%;
    }
    100% {
        top:30%;
    }

}

@media all and (max-width: 950px){
    select {
        font-size: 13px;
    }
    header {
        padding: 20px
    }
    section > div h3 {
        font-size: 40px;
    }
    .central {
        padding: 0 10px;
    }
    .voucher {
        height: auto;
    }
    .voucher > div {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .voucher > div.right {
        border-radius: 0 0 10px 10px;
        border: dashed 2px;
        border-top: none;
    }
    .voucher h4 {
        font-size: 30px;
        margin: 0 0 10px 0;
    }
    header p {
        float: left!important;
        clear: both;
    }
    header nav {
        clear: both;
        float: left!important;
        margin: 10px 0 0 0;
    }
    header nav ul li {
        float: none;
        margin: 0 0 5px 0;
    }
    section .bloco {
        padding: 30px 10px;
    }
    section .bloco p, section .bloco h3 {
        text-align: center;
    }
    .fone1, .fone2 {
        zoom: 0.5;
    }
    .fone1 {
        left: 0;
    }
    .fone2 {
        top: 30px;
        right: 10px;
    }
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
